ressort-button {
  display: block;
  width: 5rem;
  height: 5rem;
  // margin: 1rem;
  position: relative;
  a {
    background-color: transparent;
  }
  button {

    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;

    // box-shadow: 0  0 100px 0 rgb(255 255 255 / 33%);
    // opacity: 0.2;
  }
}

.cross__wrapper {
  height: 2rem;
  width: 2rem;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
