@use '../../styles/utils/responsive.scss' as *;

$text-color: #E5DFDF;
$background-color: #171717;
[data-template=collections] {
  ressort-button {
    z-index: 5;
    // color: transparent;
    transition: color 1s;
    > button {
      transition: background-color 1s;
      // background-color: transparent;
    }
  }

  grid-fixation {
    z-index: 1;
    top: unset;
    bottom: calc(35px + 30rem);
    .fixation {
      transition: background-color 1s;
      // background-color: transparent;
    }
  }

}

.collections__wrapper {
  // background-color: $background-color;
  height: 100%;
  width: 100%;
}

.buffer__background {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.0;
  z-index: 0;
}

.back__button__wrapper {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  z-index: 5;

  .back__tooltip {
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    /* identical to box height */
    text-transform: uppercase;
    margin-right: 1rem;

    span span {
      transform: translateX(-101%);
    }
  }
  ressort-button.r_br{
  }
}

.display__wrapper {
  z-index: 2;
  display: flex;
  top: 91px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 700px;
  flex-direction: column;
}

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__title__wrapper {

  position: absolute;
  right: 0;
  text-transform: uppercase;
  margin-bottom: -.5rem;
  > div {
    position: absolute;
    transform: translate(-100%, -50%);
    @include respond-to('<medium') {

      transform-origin: left;
      transform: translate(1.5rem ,-2rem) scale(1.5) rotate(90deg);
      z-index: 0;
    }
    > div {
      display: flex;
    }
    .doublespan__container {
      margin-bottom: unset;
    }
  }


}
.nav__title__flavour {
  font-size: 2rem;
  font-weight: 200;
}
.nav__title__name {
  font-size: 3rem;
}

.buffer__title {
  opacity: 0;

  span span {
    transform: translateX(-100%);
  }
}

.display__container {
  position:relative;
  max-width: calc(100vw - 17rem);
  margin-top: 2.75rem;
  height: 37.5rem;
  width: 75rem;
  display: flex;
  flex-wrap: nowrap;

  a {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

}

.nav__page__wrapper {
  position: absolute;
  left: 0;
  display: flex;
  font-size: 3rem;
  .total__page, .buffer__page, .current__page, .total__page__buffer {
    display: flex;
    align-items: center;
  }
  .buffer__page, .total__page__buffer {
    position: absolute;
    span span{
      transform: translateX(100%);
    }
  }
  .current__page__wrapper {
    display: flex;
    width: 3.5rem;
  }

  .total__page, .total__page__buffer {
    right: 0;
  }
  .total__page__wrapper {
    display: flex;
    align-items: center;
    transition: color 1s;
    &::before {
      content: '';
      width: 2rem;
      height: 2px;
      background-color: currentColor;
      transition: background-color 1s;
      margin: 0 2rem;
      margin-bottom: -1px;
    }
  }
}
