@use '../../styles/utils/responsive.scss' as *;

$text-color: #E5DFDF;
$background-color: #171717;
main[data-template=collections] {
  background-color: $background-color ;
  color: $text-color;

  ressort-button {
    z-index: 5;
    color: $text-color;
    > button {
      background-color: $text-color;
    }
  }

  grid-fixation {
    z-index: 1;
    top: unset;
    bottom: calc(35px + 30rem);
    .fixation {
      background-color: $text-color;
    }
  }

}

.collections__wrapper {
  background-color: $background-color;
}

.buffer__background {
  background-color: rosybrown;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.0;
  z-index: 0;
}

ressort-button.r_br{
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}

.display__wrapper {
  z-index: 2;
  display: flex;
  top: 91px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 700px;
  flex-direction: column;
}

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__title__wrapper {

  position: absolute;
  right: 0;
  text-transform: uppercase;
  margin-bottom: -.5rem;
  > div {
    position: absolute;
    transform: translate(-100%, -50%);
    @include respond-to('<medium') {

      transform-origin: left;
      transform: translate(1.5rem ,-2rem) scale(1.5) rotate(90deg);
      z-index: 0;
    }
    > div {
      display: flex;
    }
    .doublespan__container {
      margin-bottom: unset;
    }
  }


  .nav__title__flavour {
    font-size: 2rem;
    font-weight: 200;
  }
  .nav__title__name {
    font-size: 3rem;
  }
}

.buffer__title {
  opacity: 0;

  span span {
    transform: translateX(-100%);
  }
}

.display__container {
  position:relative;
  max-width: calc(100vw - 17rem);
  margin-top: 2.75rem;
  height: 37.5rem;
  width: 75rem;
  display: flex;
  flex-wrap: nowrap;
  img {
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

}



