[data-template=contact] {
  // color: #d35941;

  grid-fixation {
    z-index: 1;
    top: unset;
    bottom: calc(35px + 30rem);
    transition: color 400ms;
    transition-timing-function: cubic-bezier(1, 0.01, 1, 1);
    .fixation {
      transition: background-color 450ms;
      transition-timing-function: cubic-bezier(1, 0.01, 1, 1);
      // background-color: transparent;
    }
  }

  .back__button__wrapper {
    transition: color 400ms;
    transition-timing-function: cubic-bezier(1, 0.01, 1, 1);
  }
}
.contact__wrapper {
  color: #DF7863;
  background: #BD513A;
  height: 100%;
  width: 100%;
}

.contact__bg__buffer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2B2454;
  color: #372F67;
  opacity: 0;
}

.contact__container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact__title {
  position: absolute;
  top: -65px;
  left: -13rem;
  width: 80rem;
  font-weight: 400;
  font-size: 128px;
  text-transform: uppercase;

  >span {
    padding-right: 0.68em;
  }
}

.contact__container img{
  position: relative;
  height: 465px;
  width: 939px;
  max-width: 90vw;
  display: block;
  cursor: pointer;

  &.d-cursor {
    cursor: default;
  }
}

.contact__links {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 36px;
  text-transform: uppercase;
  z-index: 1;
  // color: white;
  font-weight: 400;
  top: 2rem;
  right: 3rem;
  text-align: end;
  width: 13rem;

  a svg {
    height: 36px;
    // justify-self:flex-start;
    position: absolute;
    left: 0;
    opacity: 0;
    // margin-right:  2rem;
    transform: translateX(2rem);

    transition: opacity 300ms, transform 300ms;
  }

  a:hover svg {
    opacity: 1;
    transform: translateX(0rem);

  }
}
