main[data-template=home] {
  background-color: white;
}
.home__title {
  font-size: 5rem;

  color: black;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 38rem;
    width: 38rem;
  }
}
