.preloader__wrapper {

  color: white;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__number {
  font-size: 900px;

  display: block;
  line-height: 100%;
  left: 0;
  display: none;
  position: absolute;

}

.ressort__demo__wrapper{
  display: flex;
  align-items: center;
  width: 7rem;
  position: relative;

  ressort-button {
    height: 7rem;
    width: 7rem;
    border-radius: 5px;
  }


}
.ressort__demo__tooltip__wrapper {
  width: 315px;
  position: absolute;
  left: 9rem;
  font-size: 40px;
  line-height: 37px;

  > div {
    transform: translateY(-50%);
    position: absolute;
    &:nth-child(2) {
      opacity: 0;
    }
  }
}

