.preloader__wrapper {

  color: white;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.preloader__number {
  font-size: 900px;

  display: block;
  line-height: 100%;

  display: none;
}
