@use '../utils/mixins.scss' as *;

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  @include cover;
  // position: fixed;
  // overflow: hidden
}

body {
  @include cover;
  font-family: 'League spartan', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: black;

  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

main {
  @include cover;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.doublespan__container {
  display: inline-block;
  overflow: hidden;
  margin-inline: -5px;
  span {
    display: block;
    // transform: translateX(50%);
  }
}
