@use '../utils/mixins.scss' as *;

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  @include cover;
  // position: fixed;
  // overflow: hidden
}

body {
  @include cover;
  font-family: 'League spartan', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

main {
  @include cover;

  z-index: 1;
  background-color: black;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.doublespan__container {
  display: inline-block;
  overflow: hidden;
  span {
    display: block;
    // transform: translateX(50%);
    pointer-events: none;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

img[data-src] {
  opacity: 0;
}

canvas {
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.buffer-main {
  position: absolute;
  height: 100%;
  width: 100%;
}
.buffer-main__UP{
  bottom: 100%;
  left: 0;
}
.buffer-main__DOWN {
  top: 100%;
  left: 0;
}
