// @use '../utils/variables.scss' as *;

@font-face {
    font-family: 'League spartan';
    src: url('/public/fonts/LeagueSpartan-Bold.ttf');
    font-weight: 700;
    font-style: normal  ;
    font-display: swap;
}
